.banner,
.banner .row {
    min-height: fit-content;
}

.banner .row {
    padding-top: 40px;
}

.benefits {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.benefits li {
    font-size: 30px;
}

.benefits.smaller li {
    font-size: 20px;
    font-weight: 400;
}

.benefits.smaller li:before {
    font-size: 26px;
}

.benefits li:before {
    content: '✓';
    color: var(--primary);
    font-size: 40px;
}

.about img {
    border-radius: var(--borderRadius);
}

.social-proof {
    background-color: var(--black);
}

.social-proof .wrapper {
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.social-proof .wrapper img {
    max-width: 100px;
}

.social-proof .wrapper .item {
    align-items: center;
}

.reviews .wrapper {
    gap: 40px;
}

.reviews .wrapper .item {
    align-items: center;
    padding: 30px;
    border-radius: 26px;
    box-shadow: var(--boxShadow);
    text-align: center;
}

.reviews .item .body {
    font-size: 18px;
    font-weight: 700;
}

.reviews .item .author {
    color: var(--primary);
    font-weight: 700;
    font-size: 18px;
    margin-top: auto;
}

.faq.wrapper {
    width: 60%;
} 

.border-radius {
    border-radius: var(--borderRadius);
}

.steps .large {
    font-size: 56px;
}

.col.flex-center {
    align-items: center;
}

.form-wrapper .form-row {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-flow: row wrap;
}

.form-wrapper .multiple {
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.form-wrapper .small.center {
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

.form-wrapper .multiple .form-row {
    flex: 1 0 40%;
}

.form-wrapper .multiple input {
    height: 20px;
    width: 20px;
}

.form-wrapper .multiple input {
    flex: unset;
}

.form-wrapper .distance {
    flex: 1 0 100%;
}

.form-wrapper .locatie p,
.form-wrapper .locatie a {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
}

.form-wrapper p {
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
}

@media (max-width: 560px) {
    .banner.section h1 {
        font-size: 30px;
    }

    .section h2,
    .steps .large {
        font-size: 26px;
    }

    .benefits li {
        font-size: 20px;
    }

    .benefits li:before {
        font-size: 20px;
    }

    .faq.wrapper {
        width: 100%;
    }

    .reviews .wrapper .item {
        flex: 1 0 100%;
    }

    .form-wrapper label {
        font-size: 12px;
    }

    .form-wrapper .multiple input {
        width: 15px;
        height: 15px;
    }

    .form-wrapper input::placeholder,
    .form-wrapper select::placeholder {
        font-size: 12px;
    }

    .form-wrapper .btn {
        font-size: 14px;
    }
    
    .form-wrapper .small.center {
        font-size: 12px;
    }

    .social-proof .wrapper {
        gap: 40px;
    }

    .social-proof .wrapper img {
        max-width: 50px;
    }

    .header.section .nav::before {
        background-color: var(--primary);
    }

    .steps.section .row {
        align-items: flex-start;
    }

    .header.active .topnav-content-sm svg {
        fill: var(--primary);
    }
}